@import 'tailwindcss';
@theme {
  --color-primary: #cbacf9;
  --color-secondary: #3d3a50;
  --color-accent: #f7f7f7;
  --color-darkmode: #0c0c0c;
  --color-lightmode: #f4f1ff;
  --font-sans: 'Poppins', sans-serif;
  --text-superbig: 4rem;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  h1 {
    font-size: var(--text-6xl);
    font-weight: 900;
  }
  h2 {
    font-size: var(--text-2xl);
  }
  .img {
    @apply h-full w-full object-cover;
  }
}

@layer utilities {
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }

  .animate-orbit {
    animation: orbit calc(var(--duration) * 1s) linear infinite;
  }
}

:root {
  --spotlight-gradient-first: radial-gradient(
    68.54% 68.72% at 55.02% 31.46%,
    hsla(210, 100%, 85%, 0.037) 0%,
    hsla(223, 98%, 64%, 0.107) 50%,
    hsla(235, 100%, 45%, 0) 80%
  );
  --spotlight-gradient-second: radial-gradient(
    50% 50% at 50% 50%,
    hsla(210, 100%, 85%, 0.142) 0%,
    hsla(210, 100%, 55%, 0.043) 80%,
    transparent 100%
  );
  --spotlight-gradient-third: radial-gradient(
    50% 50% at 50% 50%,
    hsla(210, 100%, 85%, 0.071) 0%,
    hsla(210, 100%, 45%, 0.02) 80%,
    transparent 100%
  );
}

/* Grid Pattern */
/* :root {
  --grid-color: rgba(102, 102, 102, 0.06); /* Light mode grid */

:root {
  --grid-color: rgba(44, 44, 44, 0.06); /* Dark mode grid */
}

.bg-grid {
  background-image:
    linear-gradient(var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Custom class to hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*scrollbar style*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-darkmode);
}

::-webkit-scrollbar-thumb {
  background: rgba(147, 147, 147, 0.326);
  border-radius: 5px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: #454545;
}
